.div{
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}

.relative{
    position:relative;
    left: 80px;
    margin-left: 10px;

}

.fixed{
    position: fixed;
    bottom: 0px;
    left: opx;
    background-color: brown;
    z-index: 10;
}

.absolute{
    position: absolute;
    top: 0px

}

.sticky {
    position: sticky;
    background-color: slateblue;
}