*{
    padding: 0;
    margin: 0;
}

html {
    font-family: Helvetica, sans-serif;
    color: blue;
}

.video{
    width: 10vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;

}

.header {
    height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}