body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.cuadro {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    position: relative;
    animation: mover 5s infinite cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

@keyframes mover {
    0% {
        left: 10px;
    }
    50% {
        left: calc(20vw - 30px);
    }
    100% {
        left: 0;
    }
}
